.header{
    width: 100%;
    position: relative;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo-wrapper a img{
    height: 80px;
    object-fit: cover;
}
.navigation{
    width: 50%;
}
.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.navigation ul li a{
    color: #000;
    font-weight: 600;
}
.navigation ul li a.active{
    border-bottom: 5px solid #ff110050;
}